<!DOCTYPE html>
<html  ng-app="IMSApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")

    @Scripts.Render("~/bundles/mycustomjs")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">IMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/contact">Contact Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="mastermenu" href="#" role="button" class="nav-link dropdown-toggle" data-toggle="dropdown">Masters <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="mastermenu">
                        <li role="presentation"><a role="menuitem" class="dropdown-item" tabindex="-1" href="/#!/country">Country</a></li>
                        <li role="presentation"><a role="menuitem" class="dropdown-item" tabindex="-1" href="/#!/state">State</a></li>
                        <li role="presentation"><a role="menuitem" class="dropdown-item" tabindex="-1" href="/#!/city">City</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" class="dropdown-item" tabindex="-1" href="/#!/itemType">Item Type</a></li>
                        <li role="presentation"><a role="menuitem" class="dropdown-item" tabindex="-1" href="/#!/licenseType">License Type</a></li>
                        <li role="presentation"><a role="menuitem" class="dropdown-item" tabindex="-1" href="/#!/invoiceStatus">Invoice Status</a></li>
                        <li role="presentation"><a role="menuitem" class="dropdown-item" tabindex="-1" href="/#!/gstRegistrationType">GST Registration Type</a></li>
                        <li role="presentation"><a role="menuitem" class="dropdown-item" tabindex="-1" href="/#!/taxSlab">Tax Slab</a></li>
                        <li role="presentation"><a role="menuitem" class="dropdown-item" tabindex="-1" href="/#!/customerType">Customer Type</a></li>
                        <li role="presentation"><a role="menuitem" class="dropdown-item" tabindex="-1" href="/#!/invoiceTerm">Invoice Term</a></li>
                        <li role="presentation"><a role="menuitem" class="dropdown-item" tabindex="-1" href="#">Service Type</a></li>
                    </ul>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
    $('.dropdown-toggle').dropdown();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
